/* './app/global.css' */
/* NAMING: 
property-name:value {
}
*/


/* relative em or rem
html { font-size: 16px; }

#rem-1 { font-size: 0.5rem; } 8px
#rem-2 { font-size: 0.75rem; } 12px
#rem-3 { font-size: 1rem; } 16px
#rem-4 { font-size: 1.5rem; } 24px
#rem-5 { font-size: 2rem; } 32px

p { margin: 15px 0; } */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #f4f7fbe;
    --foreground: #333;
    font-size: 16px;
    --primary-blue: #3498db;
    --primary-dark: #2c3e50;
    --gray-light: #bdc3c7;
    /* Light gray */
    --gray-dark: #7f8c8d;
    /* Dark gray */
    /* Base font size for rem calculations */
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    /* Ensure the body takes full viewport height */
    display: block;
    margin-top: 60px;
    /* Prevents hiding */
}

.container {
    /* Keeps content in same place???*/
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* Center content horizontally */
    padding: 20px;
}

h1.globalTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--primary-dark)
}

h3.globalSubtitle {
    font-size: 1.5rem;
    color: var(--primary-dark)
}

p {
    color: var(--foreground);
    margin-bottom: 1rem;
}

/* Input Fields */
input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
}

/* Utility Classes */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adjust any specific elements that need centering, e.g., main content */
.main-content {
    text-align: center;
}

.mt-2 {
    margin-top: 2rem;
}